#tableHead {
    font-size: 30px;
    font-style: italic;
}
#fruits {
    height: 150px;
}
#secondTable {
    border: 1px inset;
    font-weight: bold;
    text-align: center;
}
#secondTable td {
    border: 1px inset;

}
#secondTable tr {
    height: 28px;
}
#secondTable td {
    width: 30px;
}
.b, .g, .n{ 
    text-align: right;;
}
.c {
    text-align: left;
}
.j {
    vertical-align: bottom;
    text-align: right;;
}